// 600px  max-width: 599px; Phone
//600px  min-width: 600px; Tablet Portrait
//900px  min-width: 900px; Tablet Landscape
//1200px min-width: 1200px; Destop
//1800px min-width: 1800px; Big Desktop

header {
    position: sticky;
    top: 0;
    height: auto;
    background-image: linear-gradient(45deg,#ffffff 0%, 80%, #00A8D7 90%);
    box-shadow: 1em 0em 1em grey;
    #slideout-menu{
        /*display: none;*/
        height: auto;
        position: fixed;
        transition: 0.4s;
        background: grey;
        z-index: 100;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        ul {
            /*border: 1px solid red;*/
            width: 90%;
            margin: 0 auto;
            @include flex(column);
            justify-content: center;
            text-align: center;
            li {
                list-style: none;
                padding: 0.3rem 1rem;
                margin: 0.3rem 0;
                /*border: 1px solid black;*/
                a {
                    color: white;
                }
            }

        }
    }
    .content-container {
        max-width: 80%;
        margin: 0 auto;
        /*border: 1px solid black;*/
        max-height: 12vh;
        min-height: 5vh;
        @include flex(row);
        
        div#logo-img {
            display: flex;

            width: 20%;
            height: inherit;
            align-items: center;
            /*border: 1px solid red;*/
            img {
                max-height: 100%;
                margin: 0 auto;
                transition: 0.4s;
                &:hover{
                    transform: scale(1.1);
                }
            
            }
        }

        nav {
            /*border: 1px solid red;*/
            max-height: inherit;
            width: 80%;
            justify-content: flex-end;

            #menu-icon {
                display: none;
                height:100%;
               /* border: 1px solid red;*/
                align-items: center;
                justify-content: center;

                img {
                    height: 40%;
                    width: 70%;
                    transition: 0.4s;
                    display: inherit;
                
                &:hover {
                    transform: scale(1.1);
                }}
            }

            
            
            ul {
                height: 100%;
                list-style: none;
                @include flex(row);
                justify-content: flex-end;
                align-items: center;
                
                


                
                li {
                    display: inline-block;
                    padding: 0.5rem 0;
                    font-size: 1.33em;
                    margin-left: 1.5rem;
                    color: black;
                    /*border: 1px solid red;*/
                    transition: 0.4s;
                    &:hover {
                        transform: scale(1.1);
                    }

                    
                
                     
                    
                    a {
                        text-decoration: none;
                        transition: 0.4s;
                        color: black;


                        display: inline;
                        position: relative;
                        overflow: hidden;

                        &:after {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            right: 0;
                            width: 0;
                            bottom: -5px;
                            background: #112322;
                            height: 4px;
                            transition-property: width;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-out;
                        }

                        &:hover:after,
                        &:focus:after,
                        &:active:after {
                              left: 0;
                                right: auto;
                                width: 100%;
                        }
                        


                        
                        
                        
                    }

                }
            }

        }
        
    }
}


// --------------------------
//      HEADER MEDIA QUERIES
// ------------------------

/*
$phone-width: 599px;
$tablet-width: 900px;
$tablet-landscape:1200px;
$desktop: 1800px;
$big-desktop-min:1800px;

*/

@media only screen and (min-width: $tablet-width) and (max-width: $tablet-landscape){

    header {
        .content-container {
            max-width: 85%;
            max-height: 10vh;
            nav {
                ul {
                    li {
                        padding: 0.3rem 0;
                        font-size: 1em;
                        margin-left: 1.5rem;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: $phone-width) and (max-width: $tablet-width) {
    header {
        /*background-image: none;*/
        .content-container{
            #logo-img {
                z-index: 100;

            }
            nav {
                position: relative;
                ul {
                display: none;
                }
                #menu-icon {
                    display: flex;
                    /*border: 1px solid red;*/
                    width: 20%;
                    position: absolute;
                    right: 0;
                    align-items: center;
                    transition: 0.4s;
                    img:hover {

                    }
                    

                }
            }

        }
    }

}
@media only screen and (max-width: $phone-width) {
    header {
        .content-container{
            #logo-img {
                z-index: 100;

            }
            nav {
                position: relative;
                ul {
                display: none;
                }
                #menu-icon {
                    display: flex;
                    /*border: 1px solid red;*/
                    width: 20%;
                    position: absolute;
                    right: 0;
                    align-items: center;
                    border-radius: 50%;
                    transition: 0.4s;
                    img:hover {

                    }
                    

                }
            }

        }
    
    }
}